<div class="footer">
  <div class="footer-links">
    <a href="https://www.imdb.com/?ref_=nv_home"><i class="fab fa-imdb"></i></a>
    <a href="https://www.linkedin.com/in/maxence-ravau-b519a0129/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    © ProducerApp, 2022
  </div>
  <div class="footer-copyright">
    Highly confidential project
  </div>
</div>
