<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://img.emg-services.net/educations/education1428457/film-tv-bachelor.jpg);">
  <div class="container-banner">
  <h1>Buy the best movies on the market</h1>
    <p>You are a movie producer? Finance all the movies you want.</p>
  <a class="btn-white-banner" <%= link_to "See all movies to be financed", movies_path(@movie) %> href="#"> </a>
  </div>
</div>
