<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.picsum.photos/id/250/536/354.jpg?hmac=qb3khzryKWU1ECPob2_1mYZLumW5eJTLSmhJzi1VVSI);">
  <div class="container">
  <h1>Buy the best movies on the market</h1>
    <p>You are a movie producer? Finance all the movies you want.</p>
  <a class="btn btn-primary" <%= link_to "See all movies to be financed", movies_path(@movie) %> href="#"> </a>
  </div>
</div>
