.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  border-color: black;
  border-bottom: solid;
  border-top: solid;
  border-width: 3px;
  position: sticky;
  top:0px;
  z-index: 3;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-brand{
  text-align: left;
}

h1{
  font-family: 'Blinker', sans-serif;
}
