.mapboxgl-popup-content {
  padding: 1px !important;
  background: 0px;
}

.poster-link {
  text-align: center;
  img {
    width: 75px;
    height: 100px;
  }
  p {
    font-size: 10px;
    font-weight: bolder;
  }
}
