// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "flatpickr/dist/themes/dark";

// Your CSS partials
@import "components/index";
@import "components/card";
@import "pages/index";


body {
  margin: 0;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  background-color: #f7f7f7;
}
.text-center {
  text-align: center;
}
.container {
  margin: 24px auto;
}
a {
  border-bottom: solid;
  text-decoration: none;
  color: black;
  font-size: large;
}

a:hover {
  color: #227FC2;
}

h2{
  font-family: 'Blinker', sans-serif;
}
